__pycache__/
*.npy
*.pth
*.pdf
*.pkl
*.db
*.onnx
.venv/
runs/
# Virtual environment for development
harl/  
.vscode/
*.egg-info/
build/
dist/
.vscode/

# Godot 3
.import/
*.translation
export_presets.cfg
.mono/

# Server
.env

# Supabase (Just do it in their browser UI)
supabase/ 