__pycache__/
*.npy
*.pth
*.pdf
*.pkl
*.db
*.onnx
*.sentis
.venv/
runs/
*.txt
*.pt

# Virtual environment for development
harl/  
.venv/  
.vscode/
*.egg-info/
build/
dist/

# Server
.env

# Supabase (Just do it in their browser UI)
supabase/ 
tools/
uv.lock

